body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #34495e;
}

.login-box {
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.login-box h1 {
	float: left;
	font-size: 40px;
	border-bottom: 6px solid #4caf50;
	margin-bottom: 50px;
	padding: 13px 0;
}

.textbox {
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #4caf50;
}

.textbox input {
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 18px;
	width: 80%;
	float: left;
	margin: 0 10px;
}

.login-box input[type="button"] {
	border: none;
	outline: none;
	height: 40px;
	background: #4caf50;
	color: white;
	font-size: 18px;
	border-radius: 20px;
	cursor: pointer;
}

.login-box input[type="button"]:hover {
	background: #2ecc71;
	color: #fff;
}

.login-box p {
	font-size: 14px;
	color: #ff0000;
	margin-top: 10px;
}
